.main-video-wrapper {
    width: 100%;
    overflow: hidden;
    height: auto;
    display: flex;
    justify-content: center;
    .inner-video-wrapper {
        width: auto;
        height: 100%;
        overflow: auto;
        video {
            width: auto;
            height: auto;
            object-fit: cover;
        }
    }
}

.menu {
    background: #dadada;
    ul {
        padding: 0;
        list-style: none;
        a {
            text-decoration: none;
            padding: 15px;
            display: block;
            color: #5f5f5f;
            font-family: "Arial";
            letter-spacing: 1px;
            transition: 0.3s all ease-in-out;
            &:hover {
                color: #000;
            }
        }
    }
}

.video-player-wrapper {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.player-list {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
        padding: 15px 35px;
        display: block;
        background: #cccc;
        cursor: pointer;
        text-align: left;
        margin-bottom: 1px;
        .selected {
            background: #03a9f4 !important;
        }
    }
}

vg-player video {
    width: auto;
    height: auto;
    object-fit: cover;
}