::ng-deep body{
    margin: 0 !important;
    padding: 0 !important;
}

.main-video-wrapper {
    width: 100%;
    overflow: hidden;
    height: auto;
    display: flex;
    justify-content: center;
    .inner-video-wrapper {
        width: 100%;
        height: auto;
        overflow: hidden;
        position: relative;
        video {
            width: auto;
            height: auto;
            object-fit: cover;
        }
    }
}
