::ng-deep body {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
}

.hero-wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero
{
    width: 100%;
}
canvas {
    margin-top: -18px;
}